/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: 0;
}
.content-spacing {
  margin: 0 15px;
}
a {
  color: blue;
}

.f-600 {
  font-weight: 500;
}

.mat-tab-label-active {
  color: black;
  opacity: 1;
  font-weight: 600;
  border-bottom: 1px solid black;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: black;
}
